 h1{
  font-family: 'Kirang Haerang', cursive;
  font-size: 3em;
 }
 h3{
  font-family: 'Kirang Haerang', cursive;
  font-size: 1.6em;
 }
 p{
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 0.9em;
 }
 .header {
border-bottom: black;
 }
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 35px;
  text-decoration: none;
  font-family: 'Kirang Haerang', cursive;
  font-size: 120%;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

.site-footer
{
  background-color:black;
  
  font-size:15px;
  line-height:24px;
  color:white;
  
}

.site-footer a
{
  color:white;
  text-align: center;
}
.site-footer a:hover
{
  color:white;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}

.footer-links a
{
  color:white;
  display:inline-block
}

.copyright-text
{
  margin:0
}

  .site-footer .copyright-text,.site-footer 
  {
    text-align:center
    
  }

  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    
  }
  
  .flex-container > div {
   
    margin-right:  120px;
    padding: 20px;
    font-size: 30px;
    text-align: left;
    
  }
 

 .img-container {
  float: left;
  width: 33.33%;
  padding: 5px;
}


